[Unit]
Description=Arubanetworks Captive Login Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/arubad run
Restart=always
EnvironmentFile=/etc/arubad
User=nobody

[Install]
WantedBy=multi-user.target
